################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Source/C++/PimplAPI/.vs/PimplAPI
/Source/C++/PimplAPI/PimplAPI/x64/Debug
/Source/C++/PimplAPI/x64/Debug
